In [2]:
#Importação das bibliotecas que serão usadas
import os
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt

In [3]:
df_clima = pd.read_csv('Anexo_Arquivo_Dados_Projeto_Logica_e_programacao_de_computadores.csv')
df_clima

,data,precip,maxima,minima,horas_insol,temp_media,um_relativa,vel_vento
0,01/01/1961,8.6,39.5,13.4,4.3,18.2,75.8,2.6
1,02/01/1961,2.4,25.0,19.9,11.9,14.7,79.1,1.6
2,03/01/1961,10.1,23.3,14.5,9.8,24.0,78.8,2.0
3,04/01/1961,18.6,22.1,15.8,7.3,17.7,83.7,1.6
4,05/01/1961,1.5,27.3,15.3,4.5,16.0,66.2,1.2
...,...,...,...,...,...,...,...,...
20265,26/06/2016,7.1,25.3,18.2,5.7,23.9,59.9,0.0
20266,27/06/2016,0.0,25.3,24.6,11.1,23.3,54.8,3.3
20267,28/06/2016,0.0,21.7,19.0,7.9,11.2,75.2,2.2
20268,29/06/2016,0.0,21.1,12.8,11.8,24.5,91.4,0.0
20269,30/06/2016,1.3,23.4,12.6,10.3,20.9,81.7,2.1

In [4]:
#Verificando se existe valores nulos:
df_clima.isnull().sum()

data           0
precip         0
maxima         0
minima         0
horas_insol    0
temp_media     0
um_relativa    0
vel_vento      0
dtype: int64

In [5]:
#Verificando se existem valores duplicados:
df_clima.duplicated().any()

np.False_

a) Visualização de intervalo de dados em modo texto: a partir de entradas do usuário, sua implementação deve permitir a visualização dos dados que foram carregados do arquivo. O usuário deve informar o período que quer ver, ou seja, deve indicar o mês e ano iniciais, bem como o mês e ano finais que deseja visualizar os dados. Permita também que o usuário informe se quer ver 1) todos os dados, 2) apenas os de precipitação, 3) apenas os de temperatura, ou 4) apenas os de umidade e vento para o período informado.

In [ ]:
#Implementar com funções.

def opcao_invalida():
    print('Opção inválida! Aperte qualquer tecla para voltar ao início.')
    main()

def voltar():
    os.system('cls')
    ('Opção fora dos valores requeridos, aperte qualquer tecla para voltar.')
    main()

def escolha_data():
    while True:
        try:
            periodoinicial = int(input('Informe o valor do período inicial para visualizar (no formato mm/aaaa): '))
            if not (1 <= periodoinicial <= 12):
                voltar()
                continue
            periodofinal = int(input('Informe o valor do período final para visualizar (no formato mm/aaaa): '))
            if not (1 <= periodofinal <= 12):
                voltar()
                continue 
            return periodoinicial, periodofinal
        except ValueError:
            opcao_invalida()
periodoinicial, periodofinal = escolha_data()

df_clima



def exibir_opcoes():
    print('Como deseja visualizar os daods?\n')
    print("1. Todos os dados.")
    print("2. Apenas os de precipitação.")
    print("3. Apenas os de temperatura")
    print("4. Apenas os de umidade e velocidade relativa do vento")
    print("5. sair.")
def escolher_opcoes():
    pass
    '''Controle de escolha de opções do programa'''
    try:
        opcao_escolhida = int(input('Escolha uma opção: '))
        if opcao_escolhida == 1:
            df_clima
        elif opcao_escolhida == 2:
            mostrar_restaurantes()
        elif opcao_escolhida == 3:
            trocar_estado_restaurante()
        elif opcao_escolhida == 4:
            encerrar_app()
        else:
            opcao_invalida()
    except:
        opcao_invalida()

escolha_data()

def main():
    os.system('cls')
    escolha_data()
    exibir_opcoes()

if __name__ =='__main__ ':
    main()

In [6]:
df_clima

,data,precip,maxima,minima,horas_insol,temp_media,um_relativa,vel_vento
0,01/01/1961,8.6,39.5,13.4,4.3,18.2,75.8,2.6
1,02/01/1961,2.4,25.0,19.9,11.9,14.7,79.1,1.6
2,03/01/1961,10.1,23.3,14.5,9.8,24.0,78.8,2.0
3,04/01/1961,18.6,22.1,15.8,7.3,17.7,83.7,1.6
4,05/01/1961,1.5,27.3,15.3,4.5,16.0,66.2,1.2
...,...,...,...,...,...,...,...,...
20265,26/06/2016,7.1,25.3,18.2,5.7,23.9,59.9,0.0
20266,27/06/2016,0.0,25.3,24.6,11.1,23.3,54.8,3.3
20267,28/06/2016,0.0,21.7,19.0,7.9,11.2,75.2,2.2
20268,29/06/2016,0.0,21.1,12.8,11.8,24.5,91.4,0.0
20269,30/06/2016,1.3,23.4,12.6,10.3,20.9,81.7,2.1

In [ ]:
data_inicio 
df_climadf_filtrado = df_clima.loc[(df['data'] >= data_inicio) & (df_clima['data'] <= data_fim)]

ValueError: time data "13/01/1961" doesn't match format "%m/%d/%Y", at position 12. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.